%a{:href => "/projects/new"}
  Add a Pivotal Tracker project
#projects
  - @projects.each do |project|
    %article.project
      %header
        %h1
          = project.name
        %h2
          = project.pivotal_tracker_id
      %div.body
        - project.deployments.each do |deployment|
          .deployment
            %h3
              = deployment.label
            .url
              = deployment.url  
        %a{:href => "projects/#{project.id}/deployments/new"}
          Add an deployment
